/* 
  Estilos Globales

  Aquí vamos a definir estilos que se reutili
*/

:root {
 
  --azulfuerte-color:#005BAB; 
  --azul-color: #C0D6ED;
  --lila-color: #D8CADB;
  --rosa-color: #F9E4EB;
  --salmon-color: #FDDDD0; 
  --verde-color: #D1E2AE;
  --amarillo-color: #F5EDC9;

  --dark-color: #13132F;
  --light-color: #F0F0F0;   

  --font-primary: Martel Sans, sans-serif;
  --font-secundary: Lilita One, sans-serif;

  --dark-color-transparent: #f9e4ebbb; 

  --space-small: 16px;
  --space-normal: 24px;
  --space-medium: 32px;
  --space-large: 48px;
  --space-xl: 56px;
  --space-2xl: 64px;

  /* Height for Scroll Offset */

  --offset-height: 124px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secundary);
  color: var(--dark-color);
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.8rem;
}

/* Buttons */

.button {
  cursor: pointer;
}

section {
  scroll-margin-top: var(--offset-height);
  margin-bottom: var(--space-2xl);
}

section {
  margin-bottom: var(--space-medium);
}

.button-primary {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: var(--space-small) var(--space-normal);
  color: var(--dark-color);
  border-radius: 32px;
  font-family: var(--font-secundary);
  text-transform: uppercase;
  font-size: 1.125rem;
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  color: var(--azulfuerte-color);
  background-color: var(--azul-color);
}

.button-secundary {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: var(--space-small) var(--space-normal);
  color: var(--dark-color);
  border-radius: 32px;
  font-family: var(--font-secundary);
  text-transform: uppercase;
  font-size: 1.125rem;
  transition: background-color 0.3s ease;
}

.button-secundary:hover {
  color: var(--azulfuerte-color);
  background-color: var(--amarillo-color);
}

.button-third {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: var(--space-small) var(--space-normal);
  color: var(--dark-color);
  border-radius: 32px;
  font-family: var(--font-secundary);
  text-transform: uppercase;
  font-size: 1.125rem;
  transition: background-color 0.3s ease;
}

.button-third:hover {
  color: var(--azulfuerte-color);
  background-color: var(--lila-color);
}

/*  Wrapper */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}